# Reference
1. [Pandas cheat sheet](https://www.datacamp.com/community/blog/python-pandas-cheat-sheet?utm_source=adwords_ppc&utm_campaignid=1655852085&utm_adgroupid=77088685371&utm_device=c&utm_keyword=%2Bpandas%20%2Bcheat%20%2Bsheet&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=353755544529&utm_targetid=kwd-589281899014&utm_loc_interest_ms=&utm_loc_physical_ms=9000793&gclid=CjwKCAjw67XpBRBqEiwA5RCocVWMpnazlHIJGEEqW83LjocjElilDgofAjdjuBQqe0-zMV_Mu6nhjRoCXkgQAvD_BwE)
2. [Selecting Subsets of Datasets](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c)

In [170]:
import pandas as pd
import numpy as np

## Pandas Data Structures

In [9]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
       'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
       'Population': [11190846, 1303171035, 207847528]}
print ('Series:',
       pd.Series([3,-7,4,9], index=['a','b','c','d']),
       'Dataframe:',
       pd.DataFrame(data, 
                   columns=['Country', 'Capital', 'Population']),
       sep='\n')

Series:
a    3
b   -7
c    4
d    9
dtype: int64
Dataframe:
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

## I/O

In [19]:
# Read and Write to CSV
df = pd.DataFrame(data, 
             columns=['Country', 'Capital', 'Population'])
df.to_csv('tmp/myDataFrame.csv')
print(df,
      '2 rows read from file:',
      pd.read_csv('tmp/myDataFrame.csv', nrows=2),
      sep='\n')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
2 rows read from file:
   Unnamed: 0  Country    Capital  Population
0           0  Belgium   Brussels    11190846
1           1    India  New Delhi  1303171035

## Selection

In [158]:
s = pd.Series([3,-7,4,9], index=['a','b','c','d'])
print (s,
       'Selection:',
       s['b'],
       "=DataFrame=:",
       df,
       df[1:],
       '=Select Multiple Columns=:',
       df[['Country', 'Population']],
       "=Select using regex=:",
       df.filter(regex='^C'),
       df.head(1),
       df.tail(1),
       "=Sample=:",
       df.sample(frac=0.5),
       df.sample(n=1),
       '=Top n entries ordered=:',
       df.nlargest(2, 'Population'),
       "=Bottom n entries ordered=:",
       df.nsmallest(2, 'Population'),
       sep='\n')

a    3
b   -7
c    4
d    9
dtype: int64
Selection:
-7
=DataFrame=:
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528
=Select Multiple Columns=:
   Country  Population
0  Belgium    11190846
1    India  1303171035
2   Brazil   207847528
=Select using regex=:
   Country    Capital
0  Belgium   Brussels
1    India  New Delhi
2   Brazil   Brasilia
   Country   Capital  Population
0  Belgium  Brussels    11190846
  Country   Capital  Population
2  Brazil  Brasilia   207847528
=Sample=:
   Country   Capital  Population
0  Belgium  Brussels    11190846
2   Brazil  Brasilia   207847528
   Country   Capital  Population
0  Belgium  Brussels    11190846
=Top n entries ordered=:
  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528
=Bottom n entries ordered=:
   Country   Capital  Population
0  Belgium  Brussels    11190846
2   Brazil  Brasilia   207847528

### Selection by Position

In [161]:
print (df,
       '=Selection [0,0]=:',
       df.iloc[[0],[0]],
       '=select all rows=:',
       df.iloc[:, [0]],
       "=select rows meeting logical condition=:",
       df.loc[df['Population']>150000000, ['Country', 'Population']],
       type(df.iloc[[0],[0]]),
       df.iat[0,0],
       type(df.iat[0,0]),
       sep='\n')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
=Selection [0,0]=:
   Country
0  Belgium
=select all rows=:
   Country
0  Belgium
1    India
2   Brazil
=select rows meeting logical condition=:
  Country  Population
1   India  1303171035
2  Brazil   207847528
<class 'pandas.core.frame.DataFrame'>
Belgium
<class 'str'>

### Selection by Label

In [40]:
print (df,
       df.loc[[0], ['Country']],
       df.at[0, 'Country'],
       sep='\n')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
   Country
0  Belgium
Belgium

### Boolean Indexing

In [51]:
print (s,
       s[s>1],
       s[~(s>1)],
       s[(s>8) | (s<4)],
       df,
       df[df['Population']>1200000000],
       sep='\n')

a    3
b   -7
c    4
d    9
dtype: int64
a    3
c    4
d    9
dtype: int64
b   -7
dtype: int64
a    3
b   -7
d    9
dtype: int64
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
  Country    Capital  Population
1   India  New Delhi  1303171035

### Setting

In [53]:
s['a']=6
print (s)

a    6
b   -7
c    4
d    9
dtype: int64

### Dropping & Fillna

In [164]:
print (s, 
       s.drop(['a','c']),
       df,
       '=drop column=:',
       df.drop('Country', axis=1),
       df.drop(columns=['Country', 'Population']),
       df.drop(2),
       sep='\n')

a    3
b   -7
c    4
d    9
dtype: int64
b   -7
d    9
dtype: int64
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
=drop column=:
     Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035
2   Brasilia   207847528
     Capital
0   Brussels
1  New Delhi
2   Brasilia
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035

In [174]:
df_drop = pd.DataFrame({'Name': ['John', 'Christie', 'Kelly'], 
                        'Gender': ['M', np.nan, None]})
print(df_drop, 
      df_drop.dropna(),
      df_drop.fillna('not provided'),
      sep='\n')

       Name Gender
0      John      M
1  Christie    NaN
2     Kelly   None
   Name Gender
0  John      M
       Name        Gender
0      John             M
1  Christie  not provided
2     Kelly  not provided

### Sort and Rank

In [130]:
print (df, 
       df.sort_index(),
       "=sort_values=:",
       df.sort_values(by='Country', ascending=True),
       df.rank(),
       sep='\n')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
=sort_values=:
   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasilia   207847528
1    India  New Delhi  1303171035
   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

### Retrieving Series/DataFrame Information
#### Basic Information

In [71]:
print (df,
       '=Shape=:',
       df.shape,
       df.index,
       df.columns,
       '=Info=:',
       df.info(),
       "=Count=:",
       df.count(),
       sep='\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes
   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
=Shape=:
(3, 3)
RangeIndex(start=0, stop=3, step=1)
Index(['Country', 'Capital', 'Population'], dtype='object')
=Info=:
None
=Count=:
Country       3
Capital       3
Population    3
dtype: int64

#### Summary

In [163]:
print (df,
       df.sum(),
       df.cumsum(),
       "=Describe=:",
       df.describe(),
       "=Mean=:",
       df.mean(),
       "=Median=:",
       df.median(),
       "=Count no of rows with each unique value=:",
       df['Country'].value_counts(),
       "=# of distinct values in a column=:",
       df['Country'].nunique(),
       sep='\n')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasilia
Population                   1522209409
dtype: object
              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasilia  1522209409
=Describe=:
         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09
=Mean=:
Population    5.074031e+08
dtype: float64
=Median=:
Population    207847528.0
dtype: float64
=Count no of rows with each unique value=:
India      1
Belgium    1
Brazil     1
Name: Country, dtype: int64
=# of distinct values in a column=:
3

idxmax - Return index of first occurrence of maximum over requested axis.

In [109]:
data = {'numbers': [1,2,3,4]}
df1 = pd.DataFrame(data, columns=['numbers'])
print (df1, 
       df1.min()/df1.max(),
       df1.idxmin(),
       df1.idxmax(),
       df1.idxmin()/df1.idxmax(),
       sep='\n')

   numbers
0        1
1        2
2        3
3        4
numbers    0.25
dtype: float64
numbers    0
dtype: int64
numbers    3
dtype: int64
numbers    0.0
dtype: float64

### Applying Functions

In [110]:
f = lambda x: x*2
print (df1,
       df1.apply(f),
       'applymap (element-wise):',
       df1.applymap(f),
       sep='\n')

   numbers
0        1
1        2
2        3
3        4
   numbers
0        2
1        4
2        6
3        8
applymap (element-wise):
   numbers
0        2
1        4
2        6
3        8

### Data Alignment
#### Internal Data Alignment
NA values are introduced in the indices that donâ€™t overlap.

You can also do the internal data alignment yourself with
the help of the fill methods

In [116]:
s3 = pd.Series([7, -2, 3], index=['a', 'c', 'd'])
print (s,
       s3,
       s+s3,
       s.add(s3, fill_value=0),
       s.sub(s3, fill_value=2),
       sep='\n')

a    6
b   -7
c    4
d    9
dtype: int64
a    7
c   -2
d    3
dtype: int64
a    13.0
b     NaN
c     2.0
d    12.0
dtype: float64
a    13.0
b    -7.0
c     2.0
d    12.0
dtype: float64
a   -1.0
b   -9.0
c    6.0
d    6.0
dtype: float64

### Reshaping Data

In [128]:
data2 = {'Country': ['Belgium', 'India', 'Brazil'],
       'Population': [11190846, 1303171035, 207847528]}
data3 = {'Country': ['Belgium', 'India', 'Brazil'],
       'Area': ['30688 km2', '3.287 million km2', '8.516 million km2']}
data4 = {'Country': ['USA'],
       'Population': [32720000]}
df2 = pd.DataFrame(data2, columns=['Country', 'Population'])
df3 = pd.DataFrame(data3, columns=['Country', 'Area'])
df4 = pd.DataFrame(data4, columns=['Country', 'Population'])
print (df2,
       "=melt=:",
       pd.melt(df2), 
       "=pivot=:",
       df.pivot(columns='Country', values='Population'),
       "=concat=:",
       pd.concat([df2, df4]),
       "=concat= (column-wise):",
       pd.concat([df2, df3], axis=1),
       sep='\n')

   Country  Population
0  Belgium    11190846
1    India  1303171035
2   Brazil   207847528
=melt=:
     variable       value
0     Country     Belgium
1     Country       India
2     Country      Brazil
3  Population    11190846
4  Population  1303171035
5  Population   207847528
=pivot=:
Country     Belgium       Brazil         India
0        11190846.0          NaN           NaN
1               NaN          NaN  1.303171e+09
2               NaN  207847528.0           NaN
=concat=:
   Country  Population
0  Belgium    11190846
1    India  1303171035
2   Brazil   207847528
0      USA    32720000
=concat= (column-wise):
   Country  Population  Country               Area
0  Belgium    11190846  Belgium          30688 km2
1    India  1303171035    India  3.287 million km2
2   Brazil   207847528   Brazil  8.516 million km2